.containerNavComponent{
    width:100%;
    height:20vh;
    border-bottom: 5px groove silver;
    background-color: darkblue;
.auth_pak{
    width:100%;
   
    display: flex;
    justify-content: right;
    .linkStyle{
        color:black;
        text-decoration: none;
    }
}
.home{
    text-decoration:none;
}
}