.container{
  
    padding:0;
    gap:0;
    margin:0;
  .name_of_product{
    background-color: skyblue;
    border:5px groove silver;
   
  }
  .img{
    width:100%;
    border:5px groove silver;
  }
  .price{
    background-color: skyblue;
    border:5px groove silver;
  }
  .description{
    background-color: skyblue;
    border:5px groove silver;
  }
}